<% @users.each do |user| %>
	<% if user.image? %>
		<div class="follower-item">
			<img src="<%= user.image %>" align="left" alt="<%= user.full_name %>">
			<a href="<%= user_path(user) %>"><%= user.full_name %></a>
			<p><%= user.headline %></p>
			
			<% unless current_user == user %>
			<div id="follower-form">
				<% if current_user.following?(user) %>
			   		<%= form_for(current_user.relationships.find_by_followed_id(user), html: { method: :delete }, remote: true) do |f| %>
					  <%= f.submit "unfollow", class: "follow-pages-btn", style: "background:#ed8738;" %>
					<% end %>
			 	<% else %>
			    	<%= form_for(current_user.relationships.build(followed_id: user.id), remote: true) do |f| %>
					  <%= f.hidden_field :followed_id %>
					  <%= f.submit "follow", class: "follow-pages-btn" %>
					<% end %>
			  	<% end %>
			</div><!-- END #follower-form -->
			<% end %>
			
			<div class="clear"></div>
		</div><!-- END .follower-item -->
	<% else %>
		<div class="follower-item">
			<img src="http://placehold.it/60x60" align="left" alt="<%= user.full_name %>">
			<a href="<%= user_path(user) %>"><%= user.full_name %></a>
			<p><%= user.headline %></p>

			<% unless current_user == user %>
			<div id="follower-form">
				<% if current_user.following?(user) %>
			   		<%= form_for(current_user.relationships.find_by_followed_id(user), html: { method: :delete }, remote: true) do |f| %>
					  <%= f.submit "unfollow", class: "follow-pages-btn", style: "background:#ed8738;" %>
					<% end %>
			 	<% else %>
			    	<%= form_for(current_user.relationships.build(followed_id: user.id), remote: true) do |f| %>
					  <%= f.hidden_field :followed_id %>
					  <%= f.submit "follow", class: "follow-pages-btn" %>
					<% end %>
			  	<% end %>
			</div><!-- END #follower-form -->
			<% end %>
			
			<div class="clear"></div>
		</div><!-- END .follower-item -->
	<% end %>
<% end %>