<style type="text/css">
	input[type="submit"].follow-btn {
		position:absolute;
		top:90px;
		right:20px;
		padding-top:5px;
		width:157px;
		height:32px;
		display:inline-block;
		font-size:13px;
		text-align:center;
		color: #ffffff;
		background: #F9A231;
		border:none;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		
	}

	input[type="submit"].follow-btn:hover { 
		text-decoration:none; 
		background: #FCB34C; 
	}

</style>

<% provide(:title, @user.full_name) %>

<div id="profile-container">

	<div id="profile-main">
		<div id="profile-header">
			<% if @user == current_user %>
				<%= link_to "[ edit ]", edit_user_path(current_user), class: "edit-link" %>
			<% end %>

			<% if @user.image? %>
				<img src="<%= @user.image %>" alt="<%= @user.full_name %>" width="185" height="185" id="profile-img" />
			<% else %>
				<img src="http://placehold.it/185x185" alt="<%= @user.full_name %>" width="185" height="185" id="profile-img" />
			<% end %>

			<div id="profile-header-content">
				<h1><%= @user.full_name %></h1>
				<p><span><%= @user.headline %></span></p>
				<p><%= @user.location %></p>
				<ul>
					<li><a href="<%= @user.linkedin %>" target="blank"><img src="/assets/linkedin.jpg" /></a></li>
					<li><a href="<%= @user.twitter %>" target="blank"><img src="/assets/twitter.jpg" /></a></li>
					<li><a href="<%= @user.facebook %>" target="blank"><img src="/assets/facebook.jpg" /></a></li>
				</ul>
			</div><!-- END #profile-header-content -->

			<div class="clear"></div>

			<% unless current_user == @user %>
			<div id="follow-form">
				<% if current_user.following?(@user) %>
			   		<%= render 'unfollow' %>
			 	<% else %>
			    	<%= render 'follow' %>
			  	<% end %>
			</div><!-- END #follow-form -->
			<% end %>
		</div><!-- END #profile-header -->

		<ul id="profile-buttons">
			<li><a href="#" id="profile-overview" class="active">overview</a></li>
			<li><a href="#" id="profile-activity">activity</a></li>
			<% if @user != current_user %>
				<% if @user.following?(current_user) %>
					<li><a href="mailto:<%= @user.email %>">message me</a></li>
				<% else %>
					<li><a href="#" class="not-active" rel="tooltip" data-placement="right" title="You cannot message <%= @user.full_name %>.">message me</a></li>
				<% end %>
			<% end %>
		</ul><!-- END #profile-buttons -->

		<div id="overview">
			<div id="users-overview">
				<div class="profile-block">
					<div class="profile-block-content">
						<h3><%= @user.first_name %>'s Bio</h3>
						<hr>
						<div class="profile-bio">
							<% if @user.bio %>
								<%= raw(@user.bio)  %>
							<% else %>
								<%= @user.first_name %>'s bio is coming soon.
							<% end %>
						</div><!-- END .profile-projects -->
					</div><!-- END .profile-block-content -->
				</div><!-- END .profile-block -->
			</div><!-- END #users-overview -->

			<div id="projects-overview">
				<div class="profile-block">
					<div class="profile-block-content">
						<h3><%= @user.first_name %>'s Projects</h3>
						<hr>
						<div class="profile-projects">
							<% if @user.projects.count >= 1 %>
								<% @user.projects.each do |project| %>
									<h4>
										<%= link_to project.title, project %>
										<% if @user == project.owner %>
											<%= link_to "[ edit ]", edit_project_path(project), style: 'color:#333;' %>
										<% end %>
									</h4>
									<%= truncate_html( raw(project.description) ) %>
								<% end %>
							<% else %>
								<%= @user.first_name %> is not currently involved in any projects.
							<% end %>
						</div><!-- END .profile-projects -->
					</div><!-- END .profile-block-content -->
				</div><!-- END .profile-block -->
			</div><!-- END #projects-overview  -->

		</div><!-- END #overview -->

		<div id="activity" class="hide">
			<div class="profile-block">
				<div class="profile-block-content">
					<h3><%= @user.first_name %>'s Activity</h3>
					<hr>
					<% @activities.each do |activity| %>
						<% if @user == activity.owner %>
						<div class="activity">
							<%= render_activity activity %>
							<br/>
							<span class="time"><%= time_ago_in_words(activity.created_at) %> ago</span>
						</div><!-- END .activity -->
						<% end %>
					<% end %>
				</div><!-- END .profile-block-container -->
			</div><!-- END .profile-block -->
		</div><!-- END #activity -->

	</div><!-- END #profile-main -->

	<div id="profile-sidebar">

		<h2><a href="<%= following_user_path(@user) %>">Following (<%= @user.followed_users.count %>)</a></h2>
		<ul>
			<% @user.followed_users.first(5).each do |user| %>
				<% if user.image? %>
					<li>
						<img src="<%= user.image %>" align="left" alt="<%= user.full_name %>">
						<a href="<%= user_path(user) %>"><%= user.full_name %></a>
					</li>
				<% else %>
					<li>
						<img src="http://placehold.it/30x30" align="left" alt="<%= user.full_name %>">
						<a href="<%= user_path(user) %>"><%= user.full_name %></a>
					</li>
				<% end %>
			<% end %>
		</ul>

		<h2><a href="<%= followers_user_path(@user) %>">Followers (<span id="followers"><%= @user.followers.count %></span>)</a></h2>
		<ul>
			<% @user.followers.first(5).each do |user| %>
				<% if user.image? %>
					<li>
						<img src="<%= user.image %>" align="left" alt="<%= user.full_name %>">
						<a href="<%= user_path(user) %>"><%= user.full_name %></a>
					</li>
				<% else %>
					<li>
						<img src="http://placehold.it/30x30" align="left" alt="<%= user.full_name %>">
						<a href="<%= user_path(user) %>"><%= user.full_name %></a>
					</li>
				<% end %>
			<% end %>
		</ul>

		<% if @user == current_user %>
			<h2><a href="<%= invitations_path %>">Open Invitations (<%= @user.invitations.active.count %>)</a></h2>
		<% end %>

	</div><!-- END #profile-sidebar -->

</div><!-- END #profile-container -->

