<div class="connection-container">
  <div class="connection-item">
    <% if connection.picture_url -%>
      <img src="<%= connection.picture_url %>" alt="<%= connection.full_name %>">
    <% else -%>
      <img src="http://placehold.it/60x60" alt="<%= connection.full_name %>">
    <% end -%>
    <strong><%= connection.full_name %></strong>
    <% if connection.invited? && connection.invitation.invitee %>
      <a class="btn pull-right" href="<%= user_path connection.invitee -%>">View Member</a>
    <% elsif connection.invited? %>
      <span class="label label-info pull-right">Invitation Pending</span>
    <% else %>
      <a class="btn pull-right" href="<%= new_invitation_path(invitation: {linkedin_id: connection.id, full_name: connection.full_name}) -%>">Invite</a>
    <% end %>
    <p><%= connection.headline %></p>
    <div class="clear"></div>
  </div>
</div>
