<%= simple_form_for(@project, html: { multipart: true, class: 'form-vertical' }) do |f| %>

	<%= f.input :title %>
  	<%= f.input :description %>
	<h4>Project Objectives</h4>
	<div id="tasks">
		<%= f.simple_fields_for :objectives do |objective| %>
			<%= render 'objective_fields', f: objective %>
		<% end %>
	</div>
	<div class="links">
		<%= link_to_add_association "Add Objective", f, :objectives, class: "btn" %>
	</div>
	<%= f.input :image, as: :file %>
	<%= f.input :video_url %>

	<%= f.button :submit, "Submit", class: "btn" %>
<% end %>

