<div class="project">
	<div class="project-image">
    	<% if project.image_url :medium -%>
	      <a href="<%= project_path(project) %>"><%= image_tag project.image_url :medium -%></a>
	    <% else -%>
	      <a href="<%= project_path(project) %>"><img src="http://placehold.it/300x300" /></a>
	    <% end -%>
	</div>

	<div class="project-overlay">
    	<h2><%= project.title -%></h2>
	    <p><%= raw truncate(project.description, length: 100) -%></p>
	    <%= link_to "Learn More &nbsp;&nbsp;&rarr;".html_safe, project_path(project), class: "learn-more" -%>
  	</div>
</div>
