<div class="project">
  <div class="project-header">
    <h1><%= project.title -%></h1>
  </div>

  <div class="project-image">
    <% if project.image_url :medium -%>
      <%= image_tag project.image_url :medium -%>
    <% else -%>
      <img src="http://placehold.it/440x310" />
    <% end -%>
  </div>

  <div class="project-description">
    <h2><%= project.title -%></h2>
    <p>
      <%= raw truncate(project.description, length: 140) -%>
    </p>
    <%= link_to "Learn More &nbsp;&nbsp;&rarr;".html_safe, project_path(project), class: "learn-more" -%>
  </div>
</div>
