<% provide(:title, @project.title) %>

<div class="project-upper">
	<div class="project-upper-content">
		<h1>You Want To Make a Difference. We Want To Help.</h1>
		<img src="/assets/home-featured-arrow.png" align="right" />
	</div><!-- END .project-upper-content -->
</div><!-- END .project-upper -->

<div class="project-upper-bar">
	<div class="project-upper-bar-content">
		<ul id="upper-bar-nav">
			<li><a href="#" class="border">Overview</a></li>
			<li><a href="#">Activity</a></li>
		</ul>
	</div><!-- END .project-upper-bar-content -->
</div><!-- END .project-upper-bar -->

<div id="project-container">
	<div id="project-container-content">
		<div id="project-main">
			<div id="project-overview" class="project-block">
				<h1><%= @project.title %></h1>
				<div id="project-video">
					<iframe width="560" height="360" src="<%= @project.video_url %>" frameborder="0" allowfullscreen></iframe>
				</div><!-- END #project-video -->
				<h2>Project Overview</h2>
				<div class="project-description">
					<%= raw(@project.description) %>
				</div><!-- END .project-description -->
			</div><!-- END #project-description -->

			<div id="project-funding" class="project-block">
				<h1>Funding Goals</h1>
				
				<div id="funding-diagram">
					<div class="funding-box">
						<h5>Seeking</h5>
						<h2 class="number"><%= @project.seeking_amount %></h2>
					</div><!-- END .funding-box -->
					
					<h3>of</h3>
					
					<div class="funding-box">
						<h5>Funded Amount</h5>
						<h2 class="number"><%= @project.funded_amount %></h2>
					</div><!-- END .funding-box -->
					
					<h3>for</h3>
					
					<div class="funding-box">
						<h5>Use of Funds</h5>
						<ul id="tag-list">
							<% @project.tags.first(6).each do |tag| %>
								<li><a href="#">#<%= tag.name %></a></li>
							<% end %>
						</ul>
					</div><!-- END .funding-box -->
					
					<div class="clear" style="height:10px;"></div>
				</div><!-- END #funding-diagram -->
			
			</div><!-- END #project-funding -->
		</div><!-- END #project-main -->
		
		<div id="project-sidebar">
			<div id="project-founders" class="project-sidebar-block">
				<h3>Project Founders</h3>
				<img src="<%= @project.owner.image %>" alt="<%= @project.owner.full_name %>" width="132" height="132" class="founder-image" align="left" />
				<h5><%= link_to @project.owner.full_name, @project.owner %></h5>
				<p><%= @project.owner.headline %></p>
			</div><!-- END #project-founders -->
			
			<div id="project-objectives" class="project-sidebar-block">
				<h3>Project Objectives</h3>
				<ol class="objectives-list">
					<% @project.objectives.first(5).each do |objective| %>
						<li><p><%= objective.content %></p></li>
					<% end %>
				</ol><!-- END .objectives-list -->
			</div><!-- END #project-objectives -->
			
		</div><!-- END #project-sidebar -->
	</div><!-- END #project-container-content -->
</div><!-- END #project-container -->


