<div id="main-header">
	<div id="header-container">  
    	<%= link_to "ImpactStarter", root_path, id: "logo" %>
		
		<div id="top-nav">
			<ul>
				<li><a href="/about" class="border">Learn<br/><span class="smaller">about us</span></a></li>
				<li><a href="" id="search-btn">Search<br/><span class="smaller">for projects</span></a></li>
			</ul>
		</div>
	 	
		<div id="main-nav">
	    	<ul>
			<% if user_signed_in? %>
				<li><%= link_to current_user.full_name, user_path(current_user) %></li>
				<li><%= link_to 'Profile', user_path(current_user) %></li>
				<li class="divider">|</li>
				<li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
			<% else %>
				<li><%= link_to 'Join us', new_user_registration_path %></li>
				<li class="divider">|</li>
				<li><%= link_to 'Sign in', new_user_session_path %></li>
			<% end %>
		  	</ul>
	  	</div><!-- END #MAIN-NAV -->
	</div><!-- END #HEADER-CONTAINER -->
</div><!-- END #MAIN-HEADER -->

<div id="search-bar" style="display: none">
	<form action="" method="" accept-charset="utf-8">
		<ul>
			<li>Discover Awesome Social Projects Around The World:</li>
			<li><input type="text" name="some_name" value="" id="header-search"></li>
			<li><input type="submit" value="SEARCH" class="btn"></li>
		</ul>
	</form>
</div>

