<div id="main-header">
	<div id="header-container">
    	<a href="/" id="logo"><img src="/assets/IS-logo.png" alt="ImpactStarter Social Impact Bonds" /></a>

		<div id="main-nav">
	    	<ul>
				<li class="border"><a href="/about">Learn</a></li>
				<li class="border"><a href="" id="search-btn">Search</a></li>
				<li class="border"><a href="/projects/new">Start</a></li>
			<% if user_signed_in? %>
				<li class="border"><%= link_to current_user.full_name, user_path(current_user) %></li>
				<li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
			<% else %>
				<li><%= link_to 'Sign in', new_user_session_path %></li>
			<% end %>
		  	</ul>
	  	</div><!-- END #MAIN-NAV -->
	</div><!-- END #HEADER-CONTAINER -->
</div><!-- END #MAIN-HEADER -->

<div id="search-bar" style="display: none">
	<form action="#" method="GET" accept-charset="utf-8">
		<ul>
			<li style="position:relative; top:5px;">Discover Awesome Social Projects:</li>
			<li>
		<input type="text" name="search" value="<%= params[:search] -%>" id="header-search" class="search-query" />
			</li>
			<li>
			  <select>
				<option <%= 'selected ' if current_page?(projects_path) -%>value="<%= projects_path -%>">Projects</option>
				<option <%= 'selected ' if current_page?(users_path) -%>value="<%= users_path -%>">People</option>
				<option <%= 'selected ' if current_page?(organizations_path) -%>value="<%= organizations_path -%>">Organizations</option>
			  </select>
			</li>
			<li>
			<input type="submit" value="SEARCH" class="btn" />
			</li>
		</ul>
	</form>
</div>

